{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at TimeStream.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
https://app-timestream.prospect33.com/app/desktop.html#/home/reset-password-confirm/{{ uid }}/{{ token }}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our app!" %}

{% blocktrans %}The TimeStream team{% endblocktrans %}

{% endautoescape %}
